:root{
    --text_color: black
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
body {
   
    background-image: linear-gradient(-90deg, white, #e6ecf3);
}

/* /* code {
    white-space: pre;
} */

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
    font-size: 10px;
}

.search {
    width: 70%;
    font-size: 10px;
    line-height: 15px;
    border-radius: 5px;
    outline: none;
    border: 0.3px solid black;
    padding: 4px;
    height: 17px;
}

.sidebar {
    padding: 20px;
    font-size: 10px;
}
.sidebar h6{
    font-size: 1em;
    color: rgba(67,66,66,0.5);
}
nav button{
    outline: none;
    background: none;
    border: none;
}
nav h2 i{
    color: #b16666;
}
nav {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 20px;
    background: rgb(222 222 222 / 30%);
    padding-left: 20px;
    border-radius: 20px;
    background: linear-gradient(to right,#e2d6c2,rgb(253 253 253 / 0),rgb(253 253 253 / 0),rgb(253 253 253 / 0),rgb(253 253 253 / 0),rgb(220 202 170 / 0.3));
}
nav button i{
    color:#74b174;
}
.sidebar footer{
    margin-bottom: 30px;
}
.sidebar form{
    margin-bottom: 30px;
}

.sidebar h2 {
    margin-top: 5px;
    margin-bottom: 50px;
} 

li{
    list-style-type: none;
}
#content_display {
    border: 1px #ccc2c2 solid;
    padding: 20px;
    box-shadow: 0.5px 0.5px 10px 1px #888888;
    margin-right: 30px;
}
.newentry {
    margin-top: 100px;
    margin-right: 20px;
    border: 0.5px solid black;
    height: 300px;
    margin-left: 20px;
    background-color: white;
    box-shadow: 0.5px 0.5px 10px 1px #888888;
}


.newentryform {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 300px;
    justify-content: center;
}
.newentryform input[type='text']{
    width: 50%;
}


.newentryform textarea{
    margin-top: px;
    margin-bottom: 0px;
    height: 200px;
    width: 100%;
}
 
.newentryform input[type='submit'] {
    margin: 10px;
    width: 100px;
    border-radius: 10px;
    font-size: 10px;
    padding: 2px;
}
footer{
        font-size: 9px;
        padding: 10px;
        position: relative;

}
.content_display {
    height: 100vh;
    font-size: 10px;
    margin-top: 100px;
}
.container-fluid{
   min-height: 100vh;
}
.entry_display h1,h2{
    font-size: 30px;
}

.entry_display p{
    margin-top: 2.5rem;
    font-size: 0.8rem;
}
.social-link ul{
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    font-size: 2em;
}
.footer-section{
    margin-top: 2em;
}

.border-line-footer{
    background: linear-gradient(to right,#ebe4d8,#b2bac1,#f5f0e7);
    height: 0.5px;
    height: 1px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: -1px;
}
.border-line{
    
    background: linear-gradient(to right,#ebe4d8,#b2bac1,#f5f0e7);
    height: 0.5px;
    height: 1px;
    width: 50%;
    position: absolute;
    top: 14px;
}
.wiki-nav-categories{
    position: relative;
}